/* highlightsServes section starts here  */
.highlightsServes {
    position: relative;
    background: #FFFFFF;
    background: linear-gradient(272.28deg, #3E4DD9 -9.09%, #2BAAFF 119.31%);

    padding: 40px;
}

.highlightsServes::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/Rectangle70.png');
    background-repeat: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.highlightsServes .card-title {
    font-size: 22px;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.highlightsServes .card-text {
    font-size: 13px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width:820px) {
    .highlightsServes {
        padding: 40px 0;
    }

    .default-cars-advertise img {
        height: 10rem;
        object-fit: contain;
        object-position: center;
    }
}

/* highlightsServes section end  here  */