/* MultiStepForm Section Starts here  */
section.MultiStepForm {
    position: relative;
    margin: -270px 0 0 0;
}

.accordion-button {
    font-size: 20px;
    font-weight: 500;
}

button.accordion-button {

    background: #FFF !important;
}

.btn-img {
    width: 20px;
    margin-right: 20px;
}

button.btn:active {
    transform: translateY(5px);
    border: none;
}

button.btn.next-step {
    color: #FFF;
    display: block;
    background: #FF802B;
    border-radius: 0;
}

.btn.prev-step.me-2 {
    background: #eee;
    border-radius: 0;
}

.accordion-body {
    padding: 0 60px 80px 72px;
    position: relative;
}

.accordion-body::before {
    content: '';
    position: absolute;
    left: 40px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #00000040;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button {
    box-shadow: none;
}

select {
    appearance: none;
    background-color: transparent;
    border: 1px solid #555;
    padding: 10px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

select::-ms-expand {
    display: none;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

select {
    cursor: pointer;
    outline: none;
}

.checkboxbutton {
    margin: 16px 5px 0 0;
    width: 140px;
    height: 40px;
    position: relative;
    cursor: pointer;
    border: 1px solid #5555551f;
}

.checkboxbutton label,
.checkboxbutton input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.checkboxbutton input[type="radio"] {
    opacity: 0.011;
    cursor: pointer;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.checkboxbutton input[type="radio"]:checked+label {
    background: #ff802b9c;
    border-radius: 4px;
}

.checkboxbutton label {
    z-index: 90;
    line-height: 1.8em;
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.FormValues {
    color: #868686;
    font-size: 14px;
    font-weight: 500;
    padding: 0 60px;
}

.formFooter {
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    bottom: 18px;
}

.carsImageUpload img {
    width: 90%;
    height: 220px;
    padding: 25px;
    background: #eee;
    object-fit: cover;
}

.carsImageUpload .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.carsImageUpload label {
    font-size: 16px;
    font-weight: 500;
}

.carsImageUpload .submitBtn {
    background: #FF802B;
    font-weight: 500;
    width: 200px;
    color: #fff;
    padding: 0 40px;
}

input[type="file"] {
    position: absolute;
    bottom: 8px;
    left: 115px;
    font-size: 14px;
    width: 100px;
}

#SuccesfullPostAdd img {
    width: 100%;
}

#SuccesfullPostAdd .btn {
    background: #FF802B;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 40px;
}

#SuccesfullPostAdd p {
    text-align: center;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
}

#SuccesfullPostAdd .modal-footer {
    border: none;
    padding-bottom: 45px;
    text-align: center;
    margin: 0 auto;
}

.accordion-button:not(.collapsed) {
    color: #F96300;
}

.fullWidth {
    grid-column: span 2;
}

@media screen and (max-width:1200px) {
    .accordion-body {
        padding: 0 60px 60px 70px;
    }

    .MultiStepForm .form__group {
        padding: 0;
        margin-top: 0;
    }

    .MultiStepForm .form__label {
        top: -8px;
        font-size: 12px;
    }

    .MultiStepForm .form-select {
        padding: 10px 5px 6px 10px;
    }

    .accordion-button {
        font-size: 18px;
        padding: 10px 20px;
    }



    .FormValues {
        font-size: 13px;
        font-weight: 500;
    }

    .MultiStepForm .form__field:placeholder-shown~.form__label {
        font-size: 15px;
        left: 6px;
        top: 13px;
    }

    #step2 .grid {
        grid-template-columns: auto;
    }

    .form__field:focus~.form__label {
        top: -13px !important;
    }

    .checkboxbutton label {
        line-height: 38px;
        font-size: 15px;
    }

    .checkboxbutton {
        height: 55px;
        width: 100%;
    }

    .carsImageUpload img {
        width: 90%;
        height: 170px;
    }

    input[type="file"] {
        bottom: 8px;
        font-size: 12px;
        left: 75px;
        width: 95px;
    }

    .fullSpace {
        grid-column: span 3;
        margin: 20px 0 0 0 !important;
    }



    .formFooter {
        bottom: 10px;
    }

    .whyChooseUS .btn {
        font-size: 11px;
    }
}

@media screen and (max-width:920px) {
    .fullSpace {
        grid-column: span 2;
    }
}

@media screen and (max-width:820px) {
    .carsImageUpload img {
        width: 100%;
        height: 140px;
    }

    input[type="file"] {
        bottom: 6px;
        font-size: 12px;
        left: 47px;
        width: 95px;
    }
}

@media screen and (max-width:520px) {
    .form__field {
        font-size: 13px;
    }



    .checkboxbutton label {
        line-height: 14px;
        font-size: 13px;
    }


    .formFooter .btn {
        font-size: 14px;
        font-weight: 500;
    }

    .MultiStepForm .form__group {
        margin-top: 15px;
    }

    .MultiStepForm .form__label {
        top: -10px;
    }

    .accordion-body {
        padding: 20px 25px 60px 40px;
    }

    .accordion-body .form__field {
        padding: 14px 5px 10px 10px;
    }

    .accordion-header {
        padding: 20px 0px;
    }

    .accordion-body::before {
        left: 20px;
        background: #00000040;
    }

    .form__label {
        font-size: 12px;
        color: #575656;
        padding: 0 10px;
    }

    .grid {
        gap: 1rem;
    }

    .accordion-button {
        font-size: 14px;
    }

    .FormValues {
        font-size: 12px;
        padding: 0 60px;
    }

    .MultiStepForm .form__field:placeholder-shown~.form__label {
        font-size: 13px;
        top: 11px;
        left: 3px;

    }

    .form__field:focus {
        top: -13px;
    }

    .checkboxbutton {
        margin: 15px 5px 0 0;
        width: 100%;
        height: 45px;
    }

    #collapseStep2 .grid {
        display: block;
    }

    .MultiStepForm h3 {
        font-size: 18px;
    }

    .accordion {
        margin-top: 15px;
    }

    section.MultiStepForm {
        margin: -250px 10px 0 10px;
    }

    .accordion-header {
        padding: 6px 0px;
    }

    .carsImageUpload img {
        width: 100%;
        height: 100px;
        padding: 20px;
        margin: 10px 0 0 0;
    }

    input[type="file"] {
        bottom: 0;
        font-size: 10px;
        left: 0;
        width: 80px;
    }

    #collapseStep3 .accordion-body {
        padding: 20px 25px 70px 40px;
    }

    .carsImageUpload label {
        font-size: 13px;
    }

    .accordion-button {
        font-size: 17px;
    }

    .carsImageUpload .grid {
        grid-template-columns: 1fr 1fr;
    }
}