<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Candidate Feedback</title>
<style type="text/css">
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
</style>
</head>

<body>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border: 1px solid #f7f7f7;">
<tbody>
<tr>
<td><table width="100%" border="0" cellspacing="0" cellpadding="15">
<tbody>
<tr>
<td bgcolor="#f7f7f7"><img src="http://itsneobot.com:3000/image/logo.png" alt="" width="180" height="70"></td>
</tr>
</tbody>
</table></td>
</tr>
<tr>
<td bgcolor="#f7f7f7"><table width="95%" cellspacing="0" cellpadding="15" border="0" align="center">
<tbody>
<tr>
<td width="50%" colspan="2" valign="top" bgcolor="#ffffff"><font style="font-size: 20px; font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: #666666">Hello, ##UserName## 👋 </font><br>
<br>
<font style="font-size: 16px; font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; color: #666666">
##content##
  <!-- <strong>##UserName## has sent a query using Candidate Portal :</strong><br>
<br>
<p>Interview Date: int_schedule_date</p>
<p>Interview Time: int_schedule_time</p>
<p>Required Document: req_documents</p>
<p>Address: address</p> -->
</font>

</tr>
</tbody>
</table></td>
</tr>
<tr>
<td bgcolor="#f7f7f7">&nbsp;</td>
</tr>
<tr>
<td bgcolor="#455C58"><table width="100%" border="0" cellspacing="0" cellpadding="15">
<tbody>
<tr>
<td align="center"><font style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; font-size:13px; color: #f7f7f7">&copy; 2024 NeuroTal - All right reserved.</font></td>
</tr>
</tbody>
</table></td>
</tr>
</tbody>
</table>
</body>
</html>