.footer {
    background: url(../images/main/footerBg.png) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding: 50px !important;
    margin: 80px 0 0 0 !important;
position:unset !important;
height:unset !important;
}

.footer .footerLogo img {
    width: 40%;
}

.footer .socialLinks img {
    width: 45px;
    padding: 7px;
}

.footer .submitBtn img {
    width: 28px;
    position: absolute;
    bottom: 34px;
    right: 20px;
}

.footer .quickLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .quickLinks a {
    color: #000000;
}

.footer .quickLinks img {
    width: 100%;
}

.footer .leftSide .card {
    padding: 20px 80px 20px 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 100%;
}

.footer .rightSide .card {
    padding: 20px 20px 20px 70px;
    border-left: 1px solid #959595 !important;
    border-radius: 0;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    height: 100%;
}

.footer .rightSide li {
    font-size: 15px;
    font-weight: 500;
}

.footer .form__field {
    border-radius: 40px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 6px 0px !important;
    border: none !important;;
}

.footer .desc {
    font-size: 15px;
    font-weight: 500;
}

.footer .form-title {
    font-weight: 600;
}

/* Media Query For Desktop  */
@media screen and (max-width:1200px) {
    .footer .desc {
        font-size: 14px;
    }

    .footer .leftSide .card {
        padding: 20px 40px 20px 20px;
    }

    .footer .rightSide .card {
        padding: 20px 20px 20px 55px;
    }
}

/* Media Query For Desktop  */
/* Media Query For Desktop  */
@media screen and (max-width:820px) {
    .footer {
        padding: 20px;
    }

    .footer .desc {
        font-size: 14px;
    }

    .footer .leftSide .card {
        padding: 20px;
    }

    .footer .rightSide .card {
        padding: 20px;
    }
}

@media screen and (max-width:520px) {
    .footer .quickLinks {
        flex-direction: column;
    }

    .footer .rightSide .card {
        padding: 0;
        border: none;
    }

    .footer .leftSide .card {
        padding: 0;
    }

    .footer .desc {
        font-size: 13px;
    }

    .footer .form-title {
        font-size: 17px;
        margin: 20px 0 0 0;
    }

    .footer .quickLinks {
        align-items: left;
    }
}

/* Media Query For Desktop  */